<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Diabetes Classification Model - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="static/assets/favicon.ico"/>
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="static/css/styles.css" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
         <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
            <div class="container px-4">
                <a class="navbar-brand" href="#page-top">Diabetes Classifier</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"><a class="nav-link" href="#project">Project Overview</a></li>
                        <li class="nav-item"><a class="nav-link" href="#EDA">EDA</a></li>
                        <li class="nav-item"><a class="nav-link" href="#ML">Machine Learning</a></li>
                        <li class="nav-item"><a class="nav-link" href="#Conclusion">Conclusion</a></li>
                        <li class="nav-item"><a class="nav-link" href="#Team">Team</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header - set the background image for the header in the line below-->
        <header class="py-5 bg-image-full" style="background-image: url('https://images.ctfassets.net/x0s5vw77vftn/ew_wysiwyg_fid4845_asset/7ec294fc1fac3439422586e124a12152/InsulinDeliveryDevices_51876725_M.jpg')">
            <div class="text-center my-5">
                <h1 class="text-black fs-3 fw-bolder">Diabetes - Creating a Model for the Future</h1>
              <br>
              <br>
              <p class="text-black mb-0"><strong>Created by - Parallel Processing Team</strong></p>
          </div>
          </header>

        <!-- INTRODUCTION section-->
        <section id = 'project'>
            <div class="container my-5">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div style='text-align:center'><h2 style = "font-size:50px;">What does the project do?</h2></div>
                        <p class="lead">Our goal for this project is to be able to create a model that can identify whether or not a person has diabetes. By using a data set that includes several health levels such as: Glucose, Insulin, and Age, our team is able to train our model to identify the symptom levels of diabetes. </p>
                    </div>
                </div>
            </div>
        </section>
      
      <!-- EDA section-->
        <section id = 'EDA'>
            <div class="container my-5">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <h2 style = "font-size:50px;">Exploration of data: Heatmap</h2>
                        <p class="lead">A heatmap's main purpose is to display the correlation between features in a data set. If you look below you can see all the features: Glucose, BMI, etc. and their correlation to the outcome.</p>
                      
                        <iframe src = 'static/heatmap.html' width =   800 height = 800 ></iframe>
                        <div style='text-align:center'>
                      </div>
                      <p class = 'lead'>
                        Glucose and BMI were the two most correlated factors to whether or not a person has diabetes. </p>
                      <hr/>
                      <h2 style = 'font-size:50px;'>
                        Exploration of Data: Boxplots
                      </h2>
                      <p class = 'lead'>
                       The boxplots below can be used to sift through all the data and any points outside of the range will be determined as faulty data with the exception of age. The rectangle in the range represents a broad average and the line inside of the rectangle represents the true average.
                      </p>
                      <iframe src = 'static/boxplot.html' width = 800 height = 800 ></iframe>
                      <p class = 'lead'>
                      <p> The boxplots were one of the most useful models we made, because it helped us find outliers. once we found the outliers, we dropped those values from our dataset which resulted in the accuracy of our model increasing.
                      </p>
                      <hr/>
                      <h2 style = 'font-size:50px;'>
                      Exploration of Data: Scatterplots
                      </h2>
                      <p class="lead">Scatter plots mainly show the correlation between 2 variables in a data set, in this case we are showing the correlation count between the 'Outcome', and a specific health value (x, y). This is evident in the second scatter plot, we were able to see that people with a high glucose level usually also had diabetes. 
                      <iframe src = 'static/scatterplot.html' width = 800 height = 800 ></iframe>
                      <p class = 'lead'>Some of the x variables had a positive correlation such as blood pressure, thick skin, and insulin. Because of this, we want to include this in order model to see if it can help predict the chance of diabetes.
                      </p>
                    </div>
                </div>
            </div>
        </section>

        <!-- Image element - set the background image for the header in the line below-->
        <div class="py-5 bg-image-full" style="background-image: url('https://connect.ignatiuz.com/hs-fs/hubfs/AI%20and%20Deep%20Learning.gif?width=1000&name=AI%20and%20Deep%20Learning.gif')">
            <!-- Put anything you want here! The spacer below with inline CSS is just for demo purposes!-->
            <div style="height: 20rem"></div>
        </div>

       <!-- ML section-->
        <section id = 'ML'>
            <div class="container my-5">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div style='text-align:center'><h1 style = "font-size:75px;">Machine Learning Models </h1></div>
                      <br>
                      <br>
                      <br>
                      <br>
                        <div style='text-align:center'><h2 style = "font-size:60px;">Logistic Regression</h2></div>
                        <p class="lead"> </p>
                      <div style='text-align:center'>
                        <img src = https://miro.medium.com/max/932/1*bCCcQhMjHGaI89i-7i3xFw.png height = 400 width = 500>
                        <p class="lead">Logistic Regression is used when predicting an outcome based on a fixed variable such as determining possible risk of disease using health factors like Glucose level and BMI (Body Mass Index). Before predicting an outcome, filtering through data is usually the best course of action because it allows faulty data to be discarded such as if the data set displays someone’s  blood pressure as 0 or 400. </p>
                       <p class = 'lead'> <b>Logistic Regression accuracy</b> - 84.6 % </p>
                        <p >
                         <b>Confusion Matrix for Logistic Regression</b>
                        </p>
                        <img src = 'static/cf.png' width = 500 height = 500>
                      </div>
                      <hr/>
                      <div style='text-align:center'><h2 style = "font-size: 60px;">K-nearest neighbors</h2></div>                        <p class="lead"> </p>
                        <p class="lead"> </p>
                      <div style='text-align:center'>
                       <img src = https://static.javatpoint.com/tutorial/machine-learning/images/k-nearest-neighbor-algorithm-for-machine-learning3.png>
                        <p class = 'lead'> KNN takes a data point and find the k nearest points to that data point.
If k=5, KNN find the 5 nearest neighbors and chooses the class of neighbor that has the majority. 
This is why k should not be an even number because there is a possibility of a tie. In this data set I tested many different k values and found that k=47 gave the best accuracy.
</p>  <p class = 'lead'><b>K-nearest neighbors accuracy</b> - 85.9 % </p>
                        <p >
                         <b>Confusion Matrix for k-Nearest Neighbors</b>
                        </p>
                        <img src='static/image_2022-06-23_101701744.png'>
                      </div>
                      <hr/>
                        <div style='text-align:center'><h2 style = "font-size: 60px;">Random Forests</h2></div> 
                      <div style='text-align:center'><img src = 'static/random forest.png' ></div>
                      </div>
                      <div style='text-align:center'><p class = 'lead'> Random forest works by constructing a “forest” of decision trees and outputting the average result from the trees to categorize data. To increase the accuracy of the method, we can go through the data set and take out outliers and only apply the most relevant data points.
       </p>   
    <p class = 'lead'><b>Random Forest accuracy</b> - 80.7 % </p>
                        <p >
                         <b>Confusion Matrix for Random Forests</b>
                        </p>
                        <img src = 'static/cm-rf.png' width = 700 height = 500>
                    </div>
                </div>
            </div>
        </section>
        <!-- Image element - set the background image for the header in the line below-->
        <div class="py-5 bg-image-full" style="background-image: url('https://c.tenor.com/7kz9P1xyYeoAAAAM/hackers-scrolling.gif')">
          <br>
          <br>
          <br>
          <br>
            <!-- Put anything you want here! The spacer below with inline CSS is just for demo purposes!-->
            <div style="height: 20rem"></div>
        </div>

        <!-- CONCLUSION section-->
        <section id="Conclusion">
            <div class="container my-5">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div style='text-align:center'><h2 style = "font-size:60px;">-Conclusion-</h2></div>
                        <p class="lead"></p>
                        <p class = 'lead'>Based on the results, our team has come to the conclusion that k-nearest neighbors has performed the best compared to  all the ML models. With cleaning the data and handling the outliers, all models were able to get to significantly high accuracy points: </p>
                      <p class = 'lead'> <b>Logistic Regression accuracy</b> - 84.6 % </p>
                      <p class = 'lead'><b>K-nearest neighbors accuracy</b> - 85.9 % </p>
                      
   <p class = 'lead'><b>Random Forest accuracy</b> - 80.7 % </p>
<p class = 'lead'>Since our data set is not the most significant(big) and recent set, further research must be done in order to use this model in the real world. However with more recent research and data this model could be able to prevent people from experiencing harsh effects of untreated diabetes, along with helping people try and reverse it. If our model is able to point out diabetes early enough, then the individual has a chance of reversing their condition.

  <!-- Team section-->
  <div style='text-align:center'><h2 style = "font-size:60px;">-Meet the Team-</h2></div>
            <div class="text-center my-5">
              <h4>
                Meet our team of incredible students who are all first time coders! Read more about them below!
              </h4>
              </div>
        <section id="Team">
            <div class="container my-5">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <p class="lead"></p>
                      <p class = 'lead'></p>
                <div style='text-align:center'>
                   <img class="img-fluid rounded-circle mb-4" src="static/0 Cropped.jpg" alt="..." style="width:150px;height:150px;"/>
                      </div>
                      <div style='text-align:center'>
                        <p class = 'lead'>
                          <b>Harel Dious</b>
                          <p> Hi I'm Harel! I like anime and spending time with friends!
                        </p>
                      </div>
                      <hr/>
                      <div style = 'text-align:center'>
                              <img class="img-fluid rounded-circle mb-4" src="static/me2.png" alt="..." style="width:150px;height:150px;" />
                               <p class = 'lead'>
                    <b>Yifan Wang</b>
                  </p>
                  <p>
                    i play video games !
                  </p>
                </div>
                      <hr/>
                  <div style='text-align:center'>
                    
                  <img class="img-fluid rounded-circle mb-4" src="https://media1.tenor.com/images/428380076b62702a4617d1822ac7e46d/tenor.gif?itemid=26026803" alt="..." style="width:150px;height:150px;" />
                    <p class = 'lead'>
                      <b>Rocco Benvenuti</b>
                    </p>
                    <p>
                      This is my first time coding and I'm excited to see what coding will bring in the future!
                    </p>
                      </div>
                      <hr/>
                 <div style='text-align:center'>
                <img class="img-fluid rounded-circle mb-4" src="static/IMG_1033.jpg" alt="..." style="width:150px;height:150px;" />
                   <p class = 'lead'>
                     <b> Hari Ramakrishnan </b>
                   </p>
                   <p>
                     I like playing games and the guitar
                   </p>
                      </div>
                      <hr/>
                 <div style='text-align:center'>
                   <img class="img-fluid rounded-circle mb-4" src="static/IMG-0181.jpg" alt="tatiana" style="width:150px;height:150px;"/>
                  <p class = 'lead'>
                    <b>Tatiana De La Cruz</b>
                   </p>
                   <p>
                     Hello! I enjoy playing sports and my piano!
                   </p>
                   <hr/>
                <img class="img-fluid rounded-circle mb-4" src="static/frog download.jpeg" style="width:150px;height:150px;" />
                   <p class = 'lead'>
                    <b>Landen Morton</b>
                   </p>
                   <p>
                     no picture available, please enjoy this frog on a doorbell.
                   </p>
                   <p>
                     I enjoy robotics and playing games.
                   </p>
                   <hr/>
                   <img class="img-fluid rounded-circle mb-4" src="static/kat.jpg" style="width:150px;height:150px;" />
                   <p class = 'lead'>
                    <b>Katherine Vo</b> (Instructor)
                   </p>
                   <p>
                     I enjoy making Spotify playlists and hanging out with my cool, smart, sensational, talented students. ૮˶ᵔ ᵕ ᵔ˶ა
                   </p>
                </div>
              </div>
                  <div style='text-align:center'>
                  <h3>
                    last but not least, check out our bangin parallel processing playlist!
                  </h3>
                <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/6MHkZ8r7g26kNUHUccHWIV?utm_source=generator" width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
            </div>
              </div>
        </div>
        </section>
                      
       <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; parallel processing 2022</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>